body {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  overflow: hidden auto;
}

.d-none {
  display: none !important;
}

/* Landing Page */
.button {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 6px 12px;
  background-color: #E3467E;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  cursor: pointer;
}
.button a {
  color: #fff !important;
  text-decoration: none;
}
.button.green {
  background: linear-gradient(90deg, #008CA7 0%, #0988A9 0.01%, #464EA3 95.84%);
}
.button.pink {
  background: linear-gradient(90deg, #E54A81 0.01%, #AC5BB3 95.84%);
}
.button.purple {
  background: linear-gradient(90deg, #464EA3 0.01%, #995BB7 100%);
}
.button.peach {
  background: linear-gradient(90deg, #F58B88 0%, #F38487 36.98%, #D45472 100%);
}

.left,
.right {
  width: 50%;
}
@media (max-width: 767px) {
  .left,
  .right {
    width: 100%;
  }
}

.fas {
  color: #474C67;
}

::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  text-align: justify;
  color: #7377A5;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  text-align: justify;
  color: #7377A5;
}

.top {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 92px;
  z-index: 10;
  background-color: #fff;
}
.top .navLinks {
  display: flex;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}
.top .navLinks a {
  color: #7377A5;
  text-decoration: none;
}
.top .vectorDown,
.top .vectorUp {
  display: none;
}
.top .dropDownContent {
  display: none;
  background-color: #fff;
}
.top .wide {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top .wide .logo {
  margin-left: 35px;
}
.top .wide .navLinks {
  -moz-column-gap: 30px;
       column-gap: 30px;
  letter-spacing: 0.3em;
}
.top .wide .navLinks a {
  cursor: pointer;
}
.top .wide .navLinks a:hover {
  color: #E3467E;
  font-weight: 600;
}
.top .wide .navLinks a:hover .fas {
  color: #E3467E;
}
.top .wide .navLinks .selected {
  font-weight: 700;
}
.top .wide .navLinks .dropDownContent {
  position: absolute;
  width: 300px;
  margin-top: 17px;
  border-top: 1px solid #E3467E;
}
.top .wide .navLinks .dropDownContent a {
  padding: 17px 12px;
  text-align: left;
}
.top .wide .button {
  margin-right: 35px;
}
.top .narrow {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
}
.top .narrow .menu {
  position: absolute;
  right: 42px;
}
.top .narrow .menu #burgerMenu,
.top .narrow .menu #close {
  display: none;
}
.top .narrow .navLinks {
  position: absolute;
  top: 92px;
  width: 100%;
  background-color: #fff;
  display: none;
  text-align: unset;
}
.top .narrow .navLinks a {
  padding: 17px 32px;
}
.top .narrow .navLinks .dropDown {
  position: relative;
  padding: 17px 32px;
  display: flex;
  justify-content: space-between;
}
.top .narrow .navLinks .dropDown .vectorDown,
.top .narrow .navLinks .dropDown .vectorUp {
  height: 100%;
}
.top .narrow .navLinks .dropDownContent a {
  padding: 17px 64px;
}
.top .narrow .navLinks .getInTouchButton {
  display: flex;
  justify-content: center;
  padding: 32px 0;
}
.top .narrow .navLinks .getInTouchButton .button a {
  padding: 0;
}
.top .show {
  display: flex !important;
  flex-direction: column;
}
.top .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
.top .switch {
  display: inline !important;
}
.top.transparent {
  background-color: unset;
}
.top.green .button {
  background: linear-gradient(90deg, #008CA7 0%, #0988A9 0.01%, #464EA3 95.84%);
}
.top.pink .button {
  background: linear-gradient(90deg, #E54A81 0.01%, #AC5BB3 95.84%);
}
.top.purple .button {
  background: linear-gradient(90deg, #464EA3 0.01%, #995BB7 100%);
}
.top.peach .button {
  background: linear-gradient(90deg, #F58B88 0%, #F38487 36.98%, #D45472 100%);
}
@media (max-width: 767px) {
  .top .wide {
    display: none;
  }
  .top .narrow {
    display: flex;
  }
}

.services {
  margin-top: 92px;
  display: flex;
}
.services .wide {
  display: flex;
  width: 100%;
}
.services .narrow {
  display: none;
}
.services .block {
  width: 25%;
  position: relative;
  cursor: pointer;
}
.services .block img {
  width: 100%;
  height: 100%;
}
.services .block .paragraph {
  position: absolute;
  bottom: 40px;
  padding: 0 32px;
  color: #FFFFFF;
}
.services .block .paragraph .title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .services .block .paragraph .title {
    font-size: 5px;
  }
}
.services .block .paragraph .description {
  display: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.services .block:hover .paragraph .description {
  display: block;
}
@media (max-width: 767px) {
  .services .wide {
    display: none;
  }
  .services .narrow {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .services .narrow .leftArrowBack {
    position: absolute;
    left: 32px;
    z-index: 1;
  }
  .services .narrow .fader {
    width: 100%;
  }
  .services .narrow .rightArrowBack {
    position: absolute;
    right: 32px;
    z-index: 1;
  }
  .services .block {
    display: none;
    width: 100%;
    cursor: unset;
  }
  .services .block:first-of-type {
    display: flex;
  }
  .services .block.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  .services .block .paragraph {
    bottom: 32px;
    padding-right: 32px;
  }
  .services .block .paragraph .title {
    font-size: 19px;
    line-height: 28px;
  }
  .services .block .paragraph .description {
    display: block;
    font-weight: 400;
    line-height: 20px;
  }
  .services .block .paragraph .glimpseBtn {
    margin-top: 8px;
    display: flex;
    align-items: center;
    -moz-column-gap: 8px;
         column-gap: 8px;
  }
  .services .block .paragraph .glimpseBtn i {
    color: #FFFFFF;
  }
  .services .block .paragraph .button {
    margin-top: 32px;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.values {
  background-color: #F7F7FB;
  display: flex;
  justify-content: center;
  -moz-column-gap: 24px;
       column-gap: 24px;
  padding: 58px 180px;
  margin-top: -4px;
}
.values .box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 344px;
  background-color: #fff;
  padding: 0 32px;
}
.values .box .norm {
  margin-top: 28px;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #474C67;
}
.values .box .detail {
  margin-top: 14px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #7377A5;
}
@media (max-width: 767px) {
  .values {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    row-gap: 24px;
  }
  .values .box {
    width: 262px;
    height: 326px;
  }
}
@media (max-width: 390px) {
  .values .box {
    width: unset;
  }
}

.ourStory {
  padding: 60px 160px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.ourStory .left .headline,
.ourStory .right .headline {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.ourStory .left .information,
.ourStory .right .information {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #7377A5;
}
.ourStory .left .button,
.ourStory .right .button {
  margin-top: 16px;
  width: -moz-fit-content;
  width: fit-content;
}
.ourStory .left .button .fas,
.ourStory .right .button .fas {
  display: none;
}
.ourStory .left img,
.ourStory .right img {
  width: 100%;
}
.ourStory .mobile {
  display: none;
}
@media (max-width: 767px) {
  .ourStory {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    row-gap: 20px;
  }
  .ourStory .left .button {
    padding: 0;
    background-color: unset;
    box-shadow: none;
  }
  .ourStory .left .button a {
    display: flex;
    align-items: baseline;
    justify-content: center;
    -moz-column-gap: 6px;
         column-gap: 6px;
    font-size: 14px;
    line-height: 24px;
    color: #7377A5 !important;
  }
  .ourStory .left .button .fas {
    display: inline-block;
    color: #7377A5 !important;
  }
  .ourStory .right {
    margin-top: 12px;
  }
  .ourStory .mobile {
    display: block;
  }
}

.clients {
  background-color: #F7F7FB;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.clients .wide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 420px);
}
.clients .narrow {
  display: none;
}
.clients .leftArrow {
  position: absolute;
  left: 120px;
  cursor: pointer;
}
.clients .clientLogo {
  display: none;
  -moz-column-gap: 80px;
       column-gap: 80px;
  justify-content: center;
  align-items: center;
}
.clients .clientLogo:first-of-type {
  display: flex;
}
.clients .clientLogo.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.clients .rightArrow {
  position: absolute;
  right: 120px;
  cursor: pointer;
}
@media (max-width: 767px) {
  .clients {
    padding: 0 32px;
  }
  .clients .wide {
    display: none;
  }
  .clients .narrow {
    display: flex;
    justify-content: start;
    align-items: center;
    white-space: nowrap;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .clients .narrow::-webkit-scrollbar {
    display: none;
  }
}

.testimonials {
  padding: 64px 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.testimonials img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.testimonials .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.testimonials .clientTestimonial {
  margin-top: 38px;
}
.testimonials .clientTestimonial .testimonial {
  margin-top: 8px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #7377A5;
}
.testimonials .clientTestimonial .name {
  margin-top: 8px;
  font-weight: 500;
  font-size: 12px;
  line-height: 38px;
  color: #474C67;
}
.testimonials .clientTestimonial:first-of-type {
  display: block;
}
.testimonials .clientTestimonial.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.testimonials .dots {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  margin-top: 38px;
}
.testimonials .dots .dot {
  height: 6px;
  width: 6px;
  background-color: #E4E5F7;
  border-radius: 50%;
  transition: background-color 0.6s ease;
}
.testimonials .dots .dot.active {
  height: 7px;
  width: 7px;
  background-color: #E3467E;
}
.testimonials.green .active {
  background-color: #008CA7 !important;
}
.testimonials.purple .active {
  background-color: #464EA3 !important;
}
@media (max-width: 767px) {
  .testimonials {
    padding: 32px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.form .row {
  display: flex;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
.form .row input {
  padding: 0px 8px;
  width: 50%;
  height: 28px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}
.form .row .button {
  width: 100%;
  justify-content: center;
}

.contact {
  background-color: #F7F7FB;
  padding: 40px 160px 57px;
  display: flex;
  -moz-column-gap: 56px;
       column-gap: 56px;
}
.contact .getInTouch {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.contact .description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #7377A5;
}
.contact .reachOut {
  margin-top: 16px;
  font-size: 14px;
  line-height: 28px;
  color: #7377A5;
}
.contact .reachOut .link {
  display: flex;
  align-items: center;
}
.contact .reachOut .link img {
  margin-right: 11px;
}
.contact .right {
  padding: 32px 0 34px;
}
.contact .right .form {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.contact .right .form .row textarea {
  padding: 2px 8px;
  width: 100%;
  height: 80px;
  background: #FFFFFF;
  box-shadow: -1px 1px 2px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  resize: none;
}
.contact.green .button {
  background: linear-gradient(90deg, #008CA7 0%, #0988A9 0.01%, #464EA3 95.84%);
}
.contact.pink .button {
  background: linear-gradient(90deg, #E54A81 0.01%, #AC5BB3 95.84%);
}
.contact.purple .button {
  background: linear-gradient(90deg, #464EA3 0.01%, #995BB7 100%);
}
.contact.peach .button {
  background: linear-gradient(90deg, #F58B88 0%, #F38487 36.98%, #D45472 100%);
}
@media (max-width: 767px) {
  .contact {
    flex-direction: column;
    align-items: center;
    padding: 32px;
    row-gap: 16px;
  }
  .contact .right {
    padding: 0;
  }
  .contact .right .form .row {
    flex-direction: column;
    row-gap: 12px;
  }
  .contact .right .form .row input,
  .contact .right .form .row textarea,
  .contact .right .form .row .button {
    width: unset;
  }
}

.overlay {
  background-color: rgba(71, 76, 103, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 46px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.overlay .popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px 100px;
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.overlay .popUp i:first-child {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.overlay .popUp .thankYou {
  margin-top: 28px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.overlay .popUp .soon {
  font-size: 14px;
  line-height: 24px;
  color: #7377A5;
}
.overlay.open {
  display: flex;
}
@media (max-width: 767px) {
  .overlay .popUp {
    padding: 87px 32px;
  }
  .overlay .popUp .thankYou {
    font-size: 16px;
    line-height: 19px;
  }
}

.bottom {
  height: 48px;
  background: #474C67;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom .socialMedia {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
}
.bottom .socialMedia a {
  width: 32px;
  height: 32px;
  color: #E4E5F7;
  cursor: pointer;
  text-decoration: none;
}
.bottom .socialMedia a i {
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #555A79;
  border: 1px solid #555A79;
  border-radius: 50%;
}
.bottom .copyRight {
  font-weight: 500;
  font-size: 10px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-align: right;
  color: #E4E5F7;
  position: absolute;
  right: 22px;
}
@media (max-width: 767px) {
  .bottom {
    height: 92px;
    flex-direction: column;
    padding: 16px 32px 12px;
    row-gap: 4px;
  }
  .bottom .copyRight {
    position: unset;
  }
}

/* About Us */
.drop {
  margin-top: 92px;
}
.drop .left .button {
  display: none;
}
@media (max-width: 767px) {
  .drop {
    row-gap: 32px;
  }
  .drop .left .headline {
    justify-content: center;
  }
  .drop .right {
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  .founder {
    row-gap: 32px;
  }
  .founder .left {
    order: 2;
  }
  .founder .right {
    order: 1;
  }
  .founder .right .headline {
    justify-content: center;
  }
  .founder .mobile {
    order: 3;
  }
}

/* Our Services */
.serviceHeader {
  margin-top: 92px;
}
.serviceHeader .background {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 185px 620px 165px 240px;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  color: #FFFFFF;
}
.serviceHeader .background.green {
  background-image: url("../img/GreenOverlay.png");
}
.serviceHeader .background.pink {
  background-image: url("../img/PinkOverlay.png");
}
.serviceHeader .background.purple {
  background-image: url("../img/PurpleOverlay.png");
}
.serviceHeader .background.peach {
  background-image: url("../img/PeachOverlay.png");
}
.serviceHeader .background .title {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
}
.serviceHeader .background .details {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}
.serviceHeader .background .mobile {
  display: none;
}
@media (max-width: 767px) {
  .serviceHeader .background {
    padding: 120px 32px 32px;
    row-gap: 8px;
  }
  .serviceHeader .background .title {
    font-size: 28px;
    line-height: 33px;
  }
  .serviceHeader .background .details {
    font-size: 12px;
    line-height: 22px;
  }
  .serviceHeader .background .mobile {
    display: block;
    width: -moz-fit-content;
    width: fit-content;
  }
}

.serviceOptions .servicesGrid {
  padding: 50px 150px 60px;
}
.serviceOptions .servicesGrid .tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.serviceOptions .servicesGrid .tabs a {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-decoration: none;
  color: #7377A5;
  cursor: pointer;
}
.serviceOptions .servicesGrid .tabs a.green {
  font-weight: 700;
  background: linear-gradient(90deg, #008CA7 0%, #0988A9 0.01%, #464EA3 95.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 1px solid;
  padding: 10px;
}
.serviceOptions .servicesGrid .tabs a.pink {
  font-weight: 700;
  background: linear-gradient(90deg, #E54A81 0.01%, #AC5BB3 95.84%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  border-bottom: 1px solid;
  padding: 10px;
}
.serviceOptions .servicesGrid .tabs.solo {
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.34em;
  text-transform: uppercase;
}
.serviceOptions .servicesGrid .grid {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 32px;
}
.serviceOptions .servicesGrid .grid a {
  width: 30%;
  text-decoration: none;
}
.serviceOptions .servicesGrid .grid a .service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.serviceOptions .servicesGrid .grid a .service img {
  width: 100%;
}
.serviceOptions .servicesGrid .grid a .service .information {
  margin-top: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.serviceOptions .servicesGrid .grid a .service .information .name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.serviceOptions .servicesGrid .grid a .service .information .summary {
  font-size: 14px;
  line-height: 20px;
  color: #7377A5;
}
@media (max-width: 767px) {
  .serviceOptions .servicesGrid {
    padding: 16px 32px 64px;
  }
  .serviceOptions .servicesGrid .tabs {
    justify-content: start;
    white-space: nowrap;
    overflow: auto;
    -moz-column-gap: 12px;
         column-gap: 12px;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .serviceOptions .servicesGrid .tabs::-webkit-scrollbar {
    display: none;
  }
  .serviceOptions .servicesGrid .grid {
    margin-top: 24px;
    flex-direction: column;
  }
  .serviceOptions .servicesGrid .grid a {
    width: unset;
  }
}
.serviceOptions .servicesList .list {
  padding: 60px 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
}
.serviceOptions .servicesList .list .demo {
  width: 400px;
  height: 400px;
}
.serviceOptions .servicesList .list .information .name {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #474C67;
  text-transform: uppercase;
}
.serviceOptions .servicesList .list .information .summary {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #7377A5;
}
.serviceOptions .servicesList .list .information .peachBtn {
  margin-top: 16px;
  background: linear-gradient(90deg, #F58B88 0%, #F38487 36.98%, #D45472 100%);
  padding: 5.5px 12px;
  width: -moz-fit-content;
  width: fit-content;
}
.serviceOptions .servicesList .list.odd {
  background-color: #F7F7FB;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .serviceOptions .servicesList .list {
    padding: 32px;
    flex-direction: column !important;
  }
  .serviceOptions .servicesList .list .demo {
    width: 100%;
    height: unset;
  }
  .serviceOptions .servicesList .list .demo img {
    width: 100%;
  }
  .serviceOptions .servicesList .information {
    margin-top: 32px;
  }
}

.breadCrumbs {
  padding: 16.5px 160px;
  margin-top: 92px;
  color: #FFFFFF;
}
.breadCrumbs .serviceName {
  opacity: 0.6;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}
.breadCrumbs .projectName {
  margin-top: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.2em;
}
.breadCrumbs.green {
  background: linear-gradient(90deg, #008CA7 0%, #0988A9 0.01%, #464EA3 95.84%);
}
.breadCrumbs.pink {
  background: linear-gradient(90deg, #E54A81 0.01%, #AC5BB3 95.84%);
}
.breadCrumbs.purple {
  background: linear-gradient(90deg, #464EA3 0.01%, #995BB7 100%);
}
@media (max-width: 767px) {
  .breadCrumbs {
    padding: 10.5px 32px;
  }
  .breadCrumbs .serviceName {
    font-size: 12px;
    line-height: 20px;
  }
  .breadCrumbs .projectName {
    font-size: 16px;
    line-height: 19px;
  }
}

.galleryProject {
  padding-top: 16px;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.galleryProject .leftArrowLite {
  position: absolute;
  left: 0px;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50%);
}
.galleryProject .rightArrowLite {
  position: absolute;
  right: 0px;
  z-index: 1;
  cursor: pointer;
  transform: translateY(-50%);
}
.galleryProject .gallery {
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.galleryProject .gallery img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
@media (max-width: 767px) {
  .galleryProject .leftArrowLite,
  .galleryProject .rightArrowLite {
    display: none;
  }
  .galleryProject .gallery {
    overflow: auto;
  }
}

.infoProject {
  padding: 60px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoProject .title {
  font-size: 18px;
  font-weight: 800;
  line-height: 21px;
  letter-spacing: 0.3em;
  color: #474C67;
}
.infoProject .concept {
  max-width: 565px;
}
.infoProject .concept .details {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #7377A5;
}
.infoProject .projectInfo {
  background-color: #F7F7FB;
  padding: 32px 40px 77px;
  min-width: 320px;
  min-height: 241px;
}
.infoProject .projectInfo .infoList {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}
.infoProject .projectInfo .infoList .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.infoProject .projectInfo .infoList .row .position {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.16em;
  color: #474C67;
  text-transform: uppercase;
}
.infoProject .projectInfo .infoList .row .name {
  font-size: 14px;
  font-weight: 400;
  color: #7377A5;
  text-transform: capitalize;
}
.infoProject .button {
  display: none;
}
@media (max-width: 767px) {
  .infoProject {
    padding: 32px;
    flex-direction: column;
    row-gap: 32px;
  }
  .infoProject .title {
    font-size: 16px;
    line-height: 19px;
  }
  .infoProject .projectInfo {
    padding: 24px 24px 87px;
  }
  .infoProject .button {
    display: block;
  }
}

.displayProject {
  padding: 60px 148px 48px;
}
.displayProject .display {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.displayProject .display .projectDescription {
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
  color: #7377A5;
}
.displayProject .display .displayCatalogue {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
.displayProject .display .displayCatalogue .row {
  display: flex;
  justify-content: space-between;
  height: 270px;
}
.displayProject .display .displayCatalogue .row .video {
  width: calc(50% - 16px);
  cursor: pointer;
}
.displayProject .display .displayCatalogue .row .image {
  width: calc(25% - 16px);
  cursor: pointer;
}
.displayProject .display .pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: #7377A5;
}
.displayProject .display .pagination i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #7377A5;
  cursor: pointer;
}
.displayProject .display .pagination i.disabled {
  color: #E4E5F7;
  cursor: unset;
}
.displayProject .display .pagination .numbering {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}
.displayProject .display .pagination .numbering span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  cursor: pointer;
}
.displayProject .display .pagination .numbering .active.green {
  color: #008CA7;
}
.displayProject .display .pagination .numbering .active.pink {
  color: #E3467E;
}
.displayProject .display .button {
  display: none;
}
@media (max-width: 767px) {
  .displayProject {
    padding: 32px;
  }
  .displayProject .display {
    row-gap: 32px;
    justify-content: center;
    align-items: center;
  }
  .displayProject .display .displayCatalogue {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
  .displayProject .display .displayCatalogue .row {
    height: unset;
    flex-wrap: wrap;
    row-gap: 16px;
  }
  .displayProject .display .displayCatalogue .row .video {
    width: 100%;
  }
  .displayProject .display .displayCatalogue .row .image {
    width: calc(50% - 8px);
  }
  .displayProject .display .button {
    display: block;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 2;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 92px;
  width: 100%;
  height: calc(100% - 92px);
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal .modal-content {
  margin: auto;
  display: block;
  width: 40%;
  max-width: 700px;
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
.modal .modal-content img {
  width: 100%;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal .fa-close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.modal .fa-close:hover,
.modal .fa-close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 767px) {
  .modal .modal-content {
    width: 90%;
  }
}

/* Join Us */
.vacancy {
  margin-top: 92px;
  padding: 60px 148px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.vacancy .title {
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #474C67;
}
.vacancy .description {
  margin-top: 12px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #7377A5;
}
.vacancy .hiring {
  margin-top: 40px;
  width: 100%;
}
.vacancy .jobList {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 32px 16px;
}
.vacancy .jobList .jobPosition {
  width: 49%;
  display: flex;
  -moz-column-gap: 16px;
       column-gap: 16px;
}
.vacancy .jobList .jobPosition .image {
  width: 216px;
  height: 216px;
}
.vacancy .jobList .jobPosition .details .position {
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #474C67;
}
.vacancy .jobList .jobPosition .details .requirements {
  font-size: 14px;
  line-height: 20px;
  color: #7377A5;
}
.vacancy .jobList .jobPosition .details .button {
  margin-top: 9px;
  width: -moz-fit-content;
  width: fit-content;
}
@media (max-width: 767px) {
  .vacancy {
    padding: 32px;
  }
  .vacancy .hiring {
    margin-top: 32px;
  }
  .vacancy .jobList {
    margin-top: 32px;
  }
  .vacancy .jobList .jobPosition {
    width: unset;
  }
  .vacancy .jobList .jobPosition .image {
    width: 100px;
    height: 100px;
  }
  .vacancy .jobList .jobPosition .image img {
    width: -webkit-fill-available;
    /* demo purpose */
  }
}

.apply .thankYou {
  margin-top: unset !important;
}
.apply .form {
  margin-top: 32px;
  row-gap: 16px;
}
.apply .form .row .uploadFile {
  width: 100%;
  padding: 16px 8px;
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  line-height: 24px;
  color: #54586E;
  border: 1px dashed #E4E5F7;
  border-radius: 2px;
}
.apply .form .row .uploadFile i {
  cursor: pointer;
}
.apply .form .row .uploadFile.seen {
  display: flex;
}
.apply .form .row .uploadFile.unselected {
  padding: 16px 0;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
@media (max-width: 767px) {
  .apply .popUp {
    padding: 60px 32px 32px;
  }
  .apply .form .row {
    flex-direction: column;
    row-gap: 12px;
  }
  .apply .form .row input {
    width: unset;
  }
  .apply .form .row .uploadFile {
    width: unset;
    flex-direction: column;
  }
  .apply .form .row .button {
    width: unset;
  }
}

input[type=file] {
  display: none;
}/*# sourceMappingURL=style.css.map */